@import "tailwindcss";

@theme {
  --color-brand-teal: #61b0b7;
  --color-brand-teal-deep: #1f6b77;
  --color-ink-soft: #6b7175;
  --color-white-soft: #f0fdf4;

  --color-ink: #2e3235;
  --color-teal: #2e8c97;

  --color-brand-green: #86bd2b;
  --color-brand-gray: #484848;
  --color-brand-blue-light: #c2e0f0;
  --color-brand-green-light: #dceac2;
  --color-brand-jade-green: #00AA6B;

  --font-script: var(--font-script);
  --font-serif: var(--font-serif);
}


